{% extends 'base.html.twig'%}
{% form_theme formProduct 'bootstrap_4_layout.html.twig'%}
{% block body %}

<div class="container">
<h1>Ajoutez notre nouveau parfum </h1>
{{form_start(formProduct) }}
{{form_widget(formProduct)}}
<button type="submit" class="btn btn-success"> 
{% if editMode %}
    
    Modifier

{% else %}
 
 ajouter l'article
 {% endif %}
 </button>
{{ form_end(formProduct) }}
</div>

{% endblock %}
