{% extends 'base.html.twig' %}

{% block title %}My products{% endblock %}
{% block stylesheets %}  
  {{parent()}}     
<link rel="stylesheet" type="text/css" href="{{asset('css/table.css')}}">

           {% endblock %}
{% block body %}
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>

      <th scope="col">title</th>
      <th scope="col">Description</th>

      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      
  
      <th scope="col">Modification</th> 
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
   
      {% for produit in produits %}
         <tr class="table-primary">
         <td>{{ produit.title}}</td>
            <td>{{ produit.description}}</td>
            <td>{{ produit.quantite}}</td>
            <td>{{ produit.price}}</td>
         
              <td><a href="{{path('modifierp',{'id': produit.id})}}" class="btn btn-info">Modifier</a></td>
          <td><a href="{{path('supprimerp',{'id': produit.id})}}" class="btn btn-danger">Supprimer</a></td>
            
        </tr>
        {%  endfor %}
   
  </tbody>
</table>
     <a href="{{path('ajouterp')}}" class="btn btn-success">Ajouter</a>


</div >







    
{% endblock %}
