{% extends 'base.html.twig' %}

{% block title %}My Brands {% endblock %}

{% block body %}

<div class="row flex">

    <div class="col-3">

<div class="card" style="hight=20rem;">
  <img src="https://cdn.slidesharecdn.com/ss_thumbnails/482257fa-45c6-4844-9c65-04489e0133b6-150121010732-conversion-gate01-thumbnail-4.jpg?cb=1421802562" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> Jean paul gau</h5>
    <p class="card-text"> 
     Retrouvez les parfums Jean Paul Gaultier au meilleur prix sur Origines Parfums.
      Parfumeur Agréé Jean Paul Gaultier.
    </p>
    
  </div>
</div>


</div>

<div class="col-3">

<div class="card" style="hight=20rem ">
  <img src="https://i.pinimg.com/600x315/3c/84/2c/3c842c2b051baf61c2c9f46c11392122.jpg">
  <div class="card-body">
    <h5 class="card-title"> Dior </h5>
    <p class="card-text"> 
     Retrouvez les parfums Dior au meilleur prix sur Origines Parfums.
      création Marcel Boussac et le couturier Christian Dior.
    </p>
    
  </div>
</div>

</div>
</div>
{% endblock %}
