{% extends 'base.html.twig' %}
{% block stylesheets %}  
  {{parent()}}     
<!--<link rel="stylesheet" type="text/css" href="{{asset('css/home.css')}}">-->

           {% endblock %}
{% block body %}
<h1></h1> <br>
<!--<div class=""center-block" style="background-image: url(https://media1.giphy.com/media/RfeyUP5NEDxy5HJZ15/giphy.gif?cid=ecf05e47bcm235x2h1mnbhlnq3q5qdubnirtmip1no0zh2xw&rid=giphy.gif); height:500px; width: 500px; border: 1px solid black; background-repeat: no-repeat;" >
-->

<div class="row">
<div  class="col-md-4">

<img src="https://media1.giphy.com/media/RlC0evDU6RKYJ1aFne/giphy.gif?cid=ecf05e47xrygx3m0kzaluifk6zh1hezge9s662cm33ffwixi&amp;rid=giphy.gif" alt="GIF by Alexa Persico Cosmetics" >
</div>
<div class="col-md-4">

<h2>Trouvez votre parfum de reve et profitez des prix imbattables à l'occasion de la fin de l'année</h2>
<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p>The following is <strong>rendered as bold text</strong>.</p>
<p>The following is <em>rendered as italicized text</em>.</p>
<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
<input type=button class="btn btn-primary btn-lg btn-block" onclick=window.location.href="{{path('store')}}"; value="Shop now!" />
</div>
<div  class="col-md-4">
 <video alt="parfemy GIF by NOTINO.CZ" src="https://media3.giphy.com/media/Quso5mitLwTArJkLFC/giphy.mp4?cid=ecf05e472c099b2c2b4635e9431575de3052eaae31a26047&amp;rid=giphy.mp4" poster="https://media3.giphy.com/media/Quso5mitLwTArJkLFC/giphy_s.gif?cid=ecf05e472c099b2c2b4635e9431575de3052eaae31a26047&amp;rid=giphy_s.gif" autoplay="" loop="" playsinline="" style="width: 480px; height: 480px; left: 0px; top: 0px;"></video>
</div>




</div>

{% endblock %}