{% extends 'base.html.twig' %}

{% block title %}My products{% endblock %}

{% block body %}

<div class="row flex">


{% for produit in produits %}
<div class="col-3">
<produit>
<div class="card" style="width: 18rem;">

  <img src="{{ produit.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{ produit.title}} de la marque {{ produit.brand}}</h5>
    <p class="card-text"> Eau de parfum 50 ml  
    <h5> price: {{ produit.price}} dt</h5>
    </p>
    <a href="{{path('product_show',{'id': produit.id})}}" class="btn btn-primary">Details</a>
  </div>
</div>

</produit>
</div>
{%  endfor %}

</div>









    
{% endblock %}
