{% extends 'base.html.twig' %}
{% block body %}



<h2>{{produit.title}}</h2>
<div class="row">
<div  class="col-md-6">
<img src="{{produit.image}}" style="width: 350px"><br>
</div>

<div  class="col-md-6"   >
{{produit.description | raw }}<br>
</div>
</div>






{% endblock %}