<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
      
        {% block stylesheets %}  
       <link rel="stylesheet" type="text/css" href="{{asset('css/footer.css')}}">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
       
           {% endblock %}
    </head>
    
    <body>    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" > 
  <img 
     src="../images/logoo.png"
     alt="Grapefruit slice atop a pile of other slices" height="100">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('home')}}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('store')}}">our products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('brands')}}">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

        {% block body %}
{% endblock %}

        {% block javascripts %}{% endblock %}
        

    </body>
    

      <!-- Site footer -->
     <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
Découvrez nos coffrets parfum, Coffrets maquillage ou Coffrets soin, pour shopper le cadeau qui fera plaisir à coup sûr ! Enfin, découvrez une sélection des plus grandes marques de beauté : Allant de A comme Armani ou Azzaro à Y comme Yves Saint Laurent, en passant par, Burberry, Calvin Klein, Chloé, Clarins, Dolce&Gabbana, Elie Saab, Hermès, Hugo Boss, Issey Miyake, Lancôme, Marc Jacobs, Mugler, Narcisso Rodriguez, Roberto Cavalli, Shiseido, Sisley, Viktor Rolf. Elles sont toutes là !

</p>
          </div>

          <div class="col-xs-6 col-md-3">
            
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Contact</h6>
            <div>
		<i class="fa fa-map-marker"></i>
		<p><span>Cité Salem</span> Sousse, Tunisia</p>
		</div>
 
		<div>
		<i class="fa fa-phone"></i>
		<p>+216 58055168</p>
		</div>
 
		<div>
		<i class="fa fa-envelope"></i>
		<p><a href="ghada.elhraiech@gmail.com">ghada.elhraiech@gmail.com</a></p>
		</div>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
         <a href="{{path('home')}}">Find your Smell Store</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100057059597665"> <i class="fa fa-facebook-square"></i> </a></li>
              <li><a class="twitter" href="https://www.instagram.com/ghadahraiech/"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
</html>
